<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Hello! I’m Felix, a software developer and business graduate from Hamburg, Germany. I initially studied Business Administration in Germany and the Netherlands, but soon found my true calling in technology. This led me to Tokyo, Japan, where I immersed myself in coding and embraced various cultural challenges. With tenacity and dedication, I thrive on turning ideas into reality. My passion for technology and boundless curiosity drive me to explore its endless possibilities.</p>
      </div>
    </div>
  </div>
</div>
