<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100 mb-10">
    <div class="background-image"></div>
    <h1 class="title-main typewriter">Hi! Welcome to my Portfolio.</h1>
    <%= image_tag '../images/me.png', height: "200", alt: "profile photo", class: 'avatar' %>
    <ul id="profile-links-list" class="row">
      <li class="col-3 profile-button">
        <a href="#about" class="profile-link">
          <i class="fa-solid fa-circle-info"></i>
          About
        </a>
      </li>
      <li class="col-3 profile-button">
        <a href="#skills" class="profile-link">
          <i class="fa-solid fa-hammer"></i>
          Skills
        </a>
      </li>
      <li class="col-3 profile-button">
        <a href="#projects" class="profile-link">
          <i class="fa-solid fa-laptop-code"></i>
          Projects
        </a>
      </li>
      <li class="col-3 profile-button">
        <a href="../assets/CV.pdf" class="profile-link">
          <i class="fa-solid fa-file"></i>
          CV
        </a>
      </li></ul>
  </div>
</div>
