<div class="header">
  <button class="contact-button">Contact Me
    <div class="contact-dropdown">
        <a href="mailto:strewn-denizen-0n@icloud.com"><i class="fas fa-envelope"></i>Email</a>
        <a href="https://www.linkedin.com/in/felix-edgar-lange/" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a>
        <a href="https://github.com/flxlng" target="_blank"><i class="fab fa-github"></i>GitHub</a>
    </div>
  </button>
</div>
