<div class="header">
  <button class="contact-button">Contact Me
    <div class="contact-dropdown">
        <a href="mailto:example@example.com"><i class="fas fa-envelope"></i>Email</a>
        <a href="https://www.linkedin.com/in/example" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a>
        <a href="https://github.com/example" target="_blank"><i class="fab fa-github"></i>GitHub</a>
        <a href="https://twitter.com/example" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
    </div>
  </button>
</div>
