    <div class="skill-chart skills-container">
        <div class="skill" data-description="HTML5, CSS3, JavaScript, StimulusJS, React">Frontend</div>
        <div class="skill" data-description="Ruby on Rails, ActiveRecord & SQL">Backend</div>
        <div class="skill" data-description="Git/Github, Heroku, Figma, Postman">Tools</div>
        <div class="skill" data-description="Photo and Video Editing, Microsoft Office, CAD Design">Other</div>
    </div>
