<div class="skill-chart">
  <h2>Skills</h2>
  <div class="skills-container">
      <div class="skill" data-description="HTML5, CSS3, JavaScript, StimulusJS, React">Frontend</div>
      <div class="skill" data-description="Ruby on Rails, ActiveRecord & SQL">Backend</div>
      <div class="skill" data-description="Git/Github, Heroku, Figma, Postman">Tools</div>
      <div class="skill" data-description="CAD Design, Photo and Video Editing, Microsoft Office">Other</div>
  </div>
</div>
