@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes imageMovement {
  0% {
    transform: translatey(0px);
  }

  50% {

    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.banner {
  height: 100vh;
  // background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  padding: 50px 0;
}

.avatar {
  width: 30%;
  height: auto;
  object-fit: cover;
  // border: 5px solid white;
  border-radius: 50%;
  margin-bottom: 10vh;
  position: relative;
  // height: 24.78rem;
  animation: imageMovement 4s ease-in-out infinite;
  transition: transform 0.3s ease;
  // animation: spin 6s linear infinite;
  // animation-play-state: paused;

  &:hover {
    cursor: pointer;
    animation-play-state: running;
  }
}

.title-main {
  margin-bottom: 10vh;
  margin-top: 10vh;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $gray-dark;
}

.shadow-lg {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mt-3 {
  margin-top: 1rem;
}

#profile-links-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 80%;
  list-style-type: none;

  a {
    color: black;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      opacity: 0.7;
    }

    span {
      display: none;
    }
  }
}

.profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.profile-button .fa-solid {
  font-size: 1em;
  transition: font-size 0.3s ease;
  margin-bottom: 0.25em;
}

.profile-button:hover .fa-solid {
  font-size: 1.2em
}

.profile-link {
  display: flex;
  flex-direction: column;
  height: 10vh
}
