.banner {
  height: 100vh;
  // background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  padding: 50px 0;
}

.avatar {
  width: 35%;
  height: auto;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 50%;
}

.title-main {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.shadow-lg {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mt-3 {
  margin-top: 1rem;
}

#profile-links-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 80%;
  list-style-type: none;

  a {
    color: black;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
      opacity: 0.7;
    }

    span {
      display: none;
    }
  }
}

.profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.profile-button .fa-solid {
  font-size: 1em;
  transition: font-size 0.3s ease;
  margin-bottom: 0.25em;
}

.profile-button:hover .fa-solid {
  font-size: 1.2em
}

.profile-link {
  display: flex;
  flex-direction: column;
  height: 10vh
}
