<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="diagonal"></div>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <div class="fuji-back">
    <%= partial 'partials/projects' %>
    <!-- Social Links Section -->
    <%= partial 'partials/social' %>
  </div>
</div>
